@model IEnumerable<Notes.Models.Note>
@using Microsoft.AspNet.Identity

<style>
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 200px;
    }
</style>
<hr />
@Html.ActionLink("Create New Note", "Create", "Note", new { }, new { Class = "btn btn-primary btn-lg center" })

<div class="row">
    @foreach (var item in Model)
    {
        if ( item.SharedUsers.ToList().Find(u => u.Id == User.Identity.GetUserId()) == null )
        {
            continue;
        }
        <div class="col-md-4">
            <h2>@item.Name</h2>
            <p>@item.Text</p>
            @*<p>Owner: -@item.Owner.UserName</p>*@
			<h6>Shared with:</h6>
			<h6>
				<ul>
					@foreach (var nr in item.SharedUsers)
					{
						<li>
							@nr.UserName
						</li>
					}
				</ul>
			</h6>
<p>
                <div class="btn-group" role="group" aria-label="...">
                    @Html.ActionLink("Edit", "Edit", "Note", new { Id = @item.Id }, new { Class = "btn btn-default" })
                    @Html.ActionLink("Delete", "Delete", "Note", new { Id = @item.Id }, new { Class = "btn btn-default" })
                </div>
            </p>

        </div>
    }
</div>
